body{
    background-color: #323232;
    color: white;
}

button{
    cursor: pointer;
}

table{
    margin: 5px auto;
    border-radius: 20px 20px 20px 20px;
    border-spacing: 0px;
    border-collapse: separate;
    color: black;
    background-color: white;
    overflow: hidden;
    width: 80%;
    font-family: sans-serif;
}

table td, tr{
    padding: 10px 20px;
    text-align: left;
}

table th {
    background-color: #11CCCC;
    padding: 15px;
}

table tr:nth-child(even){
    background-color: #D9D9D9;
}

table tr:nth-child(odd){
    background-color: #FFFFFF;
}

.actions{
    margin-bottom: 20px;
    align-items: center;
}
.remove{
    color: white;
    background-color: red;
}

.remove img{
    padding-top: 3px;
    width: 25px;
    height: 25px;
}

.edit{
    margin-left: 10px;
    background-color: #A4A4A4;
}

.edit img{
    padding-top: 2px;
    width: 25px;
    height: 25px;
}

.utils {
    width: 80%;
    margin: 0 auto;   
    padding: 10px 0;
    padding-bottom: 0px;
}

.utils h2 {
    color: #11CCCC;
    text-align: left;
    display: inline;
    margin: 10px;
}

.utils button{
    margin-left: 10px;
}

.utils_btn{
    display: inline;
    float: right;
    padding: 5px 15px;
    background-color: #11CCCC;
    border-radius: 10px;
    border: 1px solid black;
}

.utils .page_navigator{
    display: inline-block;
    vertical-align: middle;
    margin-right: 25%;
    float: right;
    background-color: #FFFFFF;
    border: 2px solid #11CCCC;
    text-decoration: none;
}

.utils .page_navigator a{
    text-decoration: none;
}

form{
    display: block;
    width: 450px;
    height: 550px;
    border: 5px solid black;
    border-radius: 25px;
    margin: 150px auto;
    color: black;
    background-color: #FFFFFF;
    
}

form h1{
    margin-top: 30px;
    text-align: center;
    font-family: sans-serif;
    font-size: 35px;
}

form input{
    width: 40%;
    padding: 5px 10px;
}

form select{
    width: 46.5%;
    padding: 4px 10px;
    text-align: left;
}

.field::placeholder{
    color: black;
}

.field{
    display: block;
    border: 3px solid black;
    border-radius: 10px;
    margin: 50px auto;
    outline: none;
}

.submit_btn{
    display: block;;
    margin: 0px auto;
    margin-bottom: 35px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 100px;
    background-color: #11CCCC;
    font-size: medium;
    font-family: sans-serif;
    
}

.back{
    background: none;
    border: none;
    background-color: #11CCCC;
    padding: 2px 15px;
}

.back img{
    width: 30px;
}

